* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Figtree', sans-serif;
    background-color: hsl(47, 88%, 63%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 360px;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* filter: drop-shadow(8px 8px); */
    margin-bottom: 18px;
    transition: 500ms;
}

.container:hover {
    cursor: pointer;
    filter: drop-shadow(8px 8px);
}

.card {
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 7%);
    padding: 20px;
    border-radius: 18px;
    margin: 0 1rem;

}

.card .head-pic {
    max-width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.tag {
    max-width: 20%;
    background-color: hsl(47, 88%, 63%);
    padding: 5px 6px;
    border-radius: 3.5px;
    margin: 10px 0;
}

.tag p {
    text-align: center;
    font-weight: 800;
    font-size: 14px;
    color: hsl(0, 0%, 7%);
}


.text {
    text-align: left;
}

.text .publish-date {
    font-weight: 500;
    font-size: 14px;
    color: hsl(0, 0%, 7%);
    margin: 10px 0;
}

.text h2 {
    font-weight: 800;
    color: hsl(0, 0%, 7%);
}

.text p {
    font-weight: 500;
    font-size: 16;
    color: hsl(0, 0%, 42%);
    margin: 10px 0;
}

.author {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 20px;
}

.author-name {
    color: hsl(0, 0%, 7%);
    font-weight: 800;
    font-size: 14px;
    margin-left: 10px;
}

.author .profile-pic {
    max-width: 10%;
}

/* FOOTER NAV */
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}